body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.CodeMirror {
    height: 400px;
    width: 100%;
    font-size: medium;
}

#problem {
    font-size: small;
    margin-top: 20px;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .CodeMirror {
        height: 750px;
        width: 55%;
    }

    #problem {
        margin-top: 0;
        margin-left: 20px;
        width: calc(45% - 20px);
    }
}
