.CooperativeEditor .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
    font-size: 14px;
}

.CooperativeEditor .CodeMirror-scroll {
    overflow: auto !important;
}

.CooperativeEditor .CodeMirror-hscrollbar,
.CooperativeEditor .CodeMirror-vscrollbar {
    display: block !important;
}

.remote-caret {
    position: absolute;
    border-left: 2px solid black;
    height: 1em;
}

.remote-caret > div {
    position: relative;
    top: -1.15em;
    font-size: 13px;
    background-color: rgb(250, 129, 0);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}